<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles/estudos.css" />
  <title></title>
</head>

<body>
  <main>
    <div class="menuTopButton">
      <a class="homeButton" href="/">INÍCIO</a>
    </div>
    <p class="pageTitle">Bem vindo(a) aos meus <strong>Estudos pessoais</strong></p>
    <div class="studyContainer">
      <div class="studyMenuContainer">
        <a href="/estudos/exercicios">
          <div class="studyMenuButtonContainer">
            <p class="studyMenuButtonText">EXERCÍCIOS</p>
          </div>
        </a>
        <a href="/estudos/anotacoes">
          <div class="studyMenuButtonContainer">
            <p class="studyMenuButtonText">ANOTAÇÕES</p>
          </div>
        </a>
        <a href="/estudos/tutoriais">
          <div class="studyMenuButtonContainer">
            <p class="studyMenuButtonText">TUTORIAIS</p>
          </div>
        </a>
        <a href="/estudos/aulas">
          <div class="studyMenuButtonContainer">
            <p class="studyMenuButtonText">AULAS</p>
          </div>
        </a>
        <a href="/estudos/links-uteis">
          <div class="studyMenuButtonContainer">
            <p class="studyMenuButtonText">LINKS ÚTEIS</p>
          </div>
        </a>
      </div>
      <!-- Info Exercícios -->
      <div class="studyInfo">
        <h2 class="studyInfoTitle">Exercícios</h2>
        <p class="studyInfoContent">Estes são exercícios que pratico para me ajudarem a memorizar as sintaxe e suas
          respectivas funções.</p>
        <div class="studyInfoBoxContainer">
          <a href="https://codepen.io/leocosta001/pen/qBByONv" target="_blank">
            <div class="studyInfoBox">
              <p class="studyInfoBoxTitle">Relógio Analógico</p>
              <img class="studyInfoBoxImage" src="/images/relogioDigital.png" />
              <p class="studyInfoBoxLinkAddress">codepen.io</p>
              <p class="studyInfoBoxContent">Rotação de Ponteiros de acordo com a hora atual.</p>
            </div>
          </a>
          <a href="https://codepen.io/leocosta001/pen/OJJodee" target="_blank">
            <div class="studyInfoBox">
              <p class="studyInfoBoxTitle">Criar Objeto com "class"</p>
              <img class="studyInfoBoxImage" src="/images/javaScriptLogo.png" />
              <p class="studyInfoBoxLinkAddress">codepen.io</p>
              <p class="studyInfoBoxContent">Exibe no console os atributos, métodos e valores de um objeto criado a
                partir de uma "class".</p>
            </div>
          </a>
          <a href="https://github.com/LeoCosta001/Battle-of-Jokenpo-2.0" target="_blank">
            <div class="studyInfoBox">
              <p class="studyInfoBoxTitle">Battle of Jokenpô 2.0</p>
              <img class="studyInfoBoxImage" src="/images/battleOfJokenpo.png" />
              <p class="studyInfoBoxLinkAddress">github</p>
              <p class="studyInfoBoxContent">Jogo de Jokenpô onde o player compete contra a CPU. Sistema de EXP, Level Up, Skills, Dificuldades, etc.</p>
            </div>
          </a>
          <a href="https://codepen.io/leocosta001/pen/YzzjYRr" target="_blank">
            <div class="studyInfoBox">
              <p class="studyInfoBoxTitle">Pesquisar em uma Array</p>
              <img class="studyInfoBoxImage" src="/images/javaScriptLogo.png" />
              <p class="studyInfoBoxLinkAddress">codepen.io</p>
              <p class="studyInfoBoxContent">Usando os métodos .filter e .map para procurar, separar e alterar as informações de uma array.</p>
            </div>
          </a>
        </div>
        <div class="studyInfoFooterContainer">
          <a href="/estudos/exercicios">
            <div class="studyInfoFooterButton">VER MAIS</div>
          </a>
        </div>
      </div>
      <!-- Info Anotações -->
      <div class="studyInfo">
        <h2 class="studyInfoTitle">Anotações</h2>
        <p class="studyInfoContent">Estas são anotações que faço sobre o que eu estiver estudando no momento. Estas anotações sempre são
          atualizadas com novos conteúdos a medida que vou aprendendo.</p>
          <div class="studyInfoBoxContainer">
            <a href="https://docs.google.com/document/d/10SJKrhpJ0hrsZ2JvmMLq306NAJfxcaJXpt0dcZh0TKo/edit?usp=sharing" target="_blank">
              <div class="studyInfoBox">
                <p class="studyInfoBoxTitle">JavaScript</p>
                <img class="studyInfoBoxImage" src="/images/googleDocsIcon.png" />
                <p class="studyInfoBoxLinkAddress">docs.google</p>
                <p class="studyInfoBoxContent">Sintaxe, explicações e exemplos práticos da linguagem JavaScript.</p>
              </div>
            </a>
            <a href="https://docs.google.com/document/d/1G2h4j0_BLuDPlULjVdF8k4a7srySTJ4So77yJ3pXsrM/edit?usp=sharing" target="_blank">
              <div class="studyInfoBox">
                <p class="studyInfoBoxTitle">Git</p>
                <img class="studyInfoBoxImage" src="/images/googleDocsIcon.png" />
                <p class="studyInfoBoxLinkAddress">docs.google</p>
                <p class="studyInfoBoxContent">Comandos para utilizar o git de forma prática.</p>
              </div>
            </a>
            <a href="https://docs.google.com/document/d/1mFKQ0st9WkBoDwi-R0HAkZkXkFRmHkkINiWpVN031xo/edit?usp=sharing" target="_blank">
              <div class="studyInfoBox">
                <p class="studyInfoBoxTitle">HTML</p>
                <img class="studyInfoBoxImage" src="/images/googleDocsIcon.png" />
                <p class="studyInfoBoxLinkAddress">docs.google</p>
                <p class="studyInfoBoxContent">TAGs, tributos e explicações sobre HTML.</p>
              </div>
            </a>
            <a href="https://docs.google.com/document/d/1O-3WcWgwsrXpSSxJgBssqOqN9AugmtZWVB1Z7WRI28k/edit?usp=sharing" target="_blank">
              <div class="studyInfoBox">
                <p class="studyInfoBoxTitle">Database(MongoDB)</p>
                <img class="studyInfoBoxImage" src="/images/googleDocsIcon.png" />
                <p class="studyInfoBoxLinkAddress">docs.google</p>
                <p class="studyInfoBoxContent">Funcionalidades e comandos utilizados para gerenciar o MongoDB.</p>
              </div>
            </a>
          </div>
          <div class="studyInfoFooterContainer">
            <a href="/estudos/anotacoes">
              <div class="studyInfoFooterButton">VER MAIS</div>
            </a>
          </div>
      </div>
      <!-- Info Tutoriais -->
      <div class="studyInfo">
        <h2 class="studyInfoTitle">Tutoriais</h2>
        <p class="studyInfoContent">Sites que oferencem ensinamentos e exercícios praticos.</p>
      </div>
      <!-- Info Aulas -->
      <div class="studyInfo">
        <h2 class="studyInfoTitle">Aulas</h2>
        <p class="studyInfoContent">Estes são vídeos que me ajudaram a aprender de uma forma clara a respeito de diversos assuntos relacionado a programação.</p>
      </div>
      <!-- Info Links Úteis -->
      <div class="studyInfo">
        <h2 class="studyInfoTitle">Links Úteis</h2>
        <p class="studyInfoContent">Links que são ótimos para pesquisas, estudos e outras funcionalidades.</p>
      </div>
    </div>
  </main>
</body>

</html>