<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles/estudos.css" />
  <title></title>
</head>

<body>
  <main>
    <div class="menuTopButton">
      <a class="homeButton" href="/">INÍCIO</a>
    </div>
    <p class="pageTitle">Bem vindo(a) aos meus <strong>Estudos pessoais</strong></p>
    <div class="studyContainer">
      <div class="studyMenuContainer">
        <a href="/estudos/exercicios">
          <div class="studyMenuButtonContainer">
            <p class="studyMenuButtonText">EXERCÍCIOS</p>
          </div>
        </a>
        <a href="/estudos/anotacoes">
          <div class="studyMenuButtonContainer">
            <p class="studyMenuButtonText">ANOTAÇÕES</p>
          </div>
        </a>
        <a href="/estudos/tutoriais">
          <div class="studyMenuButtonContainer">
            <p class="studyMenuButtonText">TUTORIAIS</p>
          </div>
        </a>
        <a href="/estudos/aulas">
          <div class="studyMenuButtonContainer">
            <p class="studyMenuButtonText">AULAS</p>
          </div>
        </a>
        <a href="/estudos/links-uteis">
          <div class="studyMenuButtonContainer">
            <p class="studyMenuButtonText">LINKS ÚTEIS</p>
          </div>
        </a>
      </div>
      <div class="studyInfo">
        <h2 class="studyInfoTitle">Exercícios</h2>
        <p class="studyInfoContent">Estes são exercícios que pratico para me ajudarem a memorizar as sintaxe e suas
          respectivas funções.</p>
        <div class="studyInfoBoxContainer">
          <a href="https://codepen.io/leocosta001/pen/qBByONv" target="_blank">
            <div class="studyInfoBox">
              <p class="studyInfoBoxTitle">Relógio Analógico</p>
              <img class="studyInfoBoxImage" src="/images/relogioDigital.png" />
              <p class="studyInfoBoxLinkAddress">codepen.io</p>
              <p class="studyInfoBoxContent">Rotação de Ponteiros de acordo com a hora atual.</p>
            </div>
          </a>
          <a href="https://codepen.io/leocosta001/pen/OJJodee?editors=1012" target="_blank">
            <div class="studyInfoBox">
              <p class="studyInfoBoxTitle">Criar Objeto com "class"</p>
              <img class="studyInfoBoxImage" src="/images/javaScriptLogo.png" />
              <p class="studyInfoBoxLinkAddress">codepen.io</p>
              <p class="studyInfoBoxContent">Exibe no console os atributos, métodos e valores de um objeto criado a
                partir de uma "class".</p>
            </div>
          </a>
        </div>
        <div class="studyInfoFooterContainer">
          <a href="/estudos/exercicios">
            <div class="studyInfoFooterButton">VER MAIS</div>
          </a>
        </div>
      </div>
      <div class="studyInfo">
        <h2 class="studyInfoTitle">Anotações</h2>
        <p class="studyInfoContent">Estas são anotações que faço sobre oque e estiver estudando no momento, sempre são
          atualizadas com novos conteúdos a medida que vou aprendendo.</p>
      </div>
      <div class="studyInfo">
        <h2 class="studyInfoTitle">Tutoriais</h2>
        <p class="studyInfoContent">Estes são exercícios que pratico para me ajudarem a memorizar as sintaxe e suas
          respectivas funções.</p>
      </div>
      <div class="studyInfo">
        <h2 class="studyInfoTitle">Aulas</h2>
        <p class="studyInfoContent">Estes são exercícios que pratico para me ajudarem a memorizar as sintaxe e suas
          respectivas funções.</p>
      </div>
      <div class="studyInfo">
        <h2 class="studyInfoTitle">Links Úteis</h2>
        <p class="studyInfoContent">Estes são exercícios que pratico para me ajudarem a memorizar as sintaxe e suas
          respectivas funções.</p>
      </div>
    </div>
  </main>
</body>

</html>